vendor
examples/resume/_*.md
examples/output/*.html
examples/output/*.pdf
.tmp_pdf_source.html

# OSX files
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
