body.pdf {
	color: black;

	a {
		text-decoration: none;
		color: black;
	}

	.container {
		width: 1080px;
		margin: 0 auto;
		padding: 0;
		background: none;
		border: 0;
		text-align: left;
	}

	.resume {
		position:relative;
		padding: 20px 0;
	}

	h1 {
		letter-spacing: 0;
		margin-top: 0;
		text-transform: uppercase;
		font-weight: normal;
	}

	h2 {
		letter-spacing: 0;
		text-transform: uppercase;
		font-style: italic;
		font-weight: normal;
	}

	h3 {
		font-style: normal;

		+ p {

		}
	}
}
