.clearfix {
  zoom: 1;
	&:after {
		display: block;
		visibility: hidden;
		height: 0;
		clear: both;
		content: ".";
	}
}

body {
	font: 12px normal 'Hoefler Text', Times New Roman, Times, serif;
	/*font-family: 'Roboto', sans-serif;*/
	color: #444;
}
h1, h2, h3, h4, ul dl dt {
	font-family: Futura, "Century Gothic", AppleGothic, sans-serif;
}

.container {
	margin: 0 auto;
	padding: 0;
	background: whiteSmoke;
	border: solid #666;
	border-width: 8px 0 2px 0;
	text-align: left;
}

.resume {
	position:relative;
	padding: 10px 20px;
}

a {
	color: #990003;
	display: block;
}

a[href$='.pdf'] {
	background: #666;
	color: white;
	padding: 6px 12px;
	margin-bottom: 6px;
	text-decoration: none;
}
a[href*='github'] {
	background: #000;
	color: white;
	padding: 6px 12px;
	margin-bottom: 6px;
	text-decoration: none;
}

p {
	font-size: 1.2em;
}

blockquote {
	margin: 0;
	padding: 0;
	line-height: 1.4em;
}

hr {
	display: block;
	position: relative;
	padding: 0;
	margin: 18px auto;
	width: 100%;
	clear: both;
	border: none;
	border-top: 1px solid #CCC;
	font-size: 1px;
	line-height: 0;
	overflow: visible;
	page-break-after: avoid;
}

ul {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 3em;
	letter-spacing: -1px;
	font-weight: normal;
}
h2 {
	margin: 0;
	padding: 0;
	font-size: 2em;
	font-style: italic;
	letter-spacing: -1px;
	font-weight: normal;
}

h3 {
	margin: 0;
	padding: 0 0 .5em;
	font-size: 2em;
	font-style: italic;
	font-weight: normal;
}

h3+p,
h3+ul {
	margin: .2em 0 1.2em;
	padding: 0;
	display: block;
	/*font-size: 1.1em;*/
	line-height: 24px;
}
h3+ul {
	padding-left: 1.5em;
}

h4 {
	font-size: 1.5em;
}

ul li {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
}

ul li ul li {
	font-size: 1.1em;
	font-style: italic;
}

ul dl {
	margin: .3em 0 0;
	padding: 0;
	width: 100%;
	dt {
		font-size: 1em;
	}
	dd {
		margin: 0 0 1em;
		padding: 0 2em 0 0;
		font-size: .8em;
		line-height: 1.5em;
	}
}

ol {
	margin: 0;
	padding: 0 0 .75em;
	width: 84%;
	display: inline-block;
}

ol li {
	margin: 0 0 0 1em;
	padding: 0;
	border-top: 1px solid #CCCCCC;
	width: 100%;
	float: left;
	list-style: none;
	line-height: 2em;
	font-size: 1.1em;
}
ol li:nth-child(1) {
	border-top: none;
}

dl {
	display: inline-block;
	width: 75%;
	margin: 0;
	padding: 0;
	dt {
		margin: 0;
		padding: 0;
		/*font-size: 1.4em;*/
	}
	dd {
		margin: 0 0 1.5em;
		padding: 0;
		font-size: 0.8em;
		line-height: 1.4em;
	}
	strong {
		display: block;
	}
	em {
		display: block;
		font-size: 1.1em;
		margin: .15em 0 .5em;
		font-style: bold;
	}

}


#footer {
	display: none;
}

#footer + p {
	width: 100%;
	font-size: 0.8em;
	text-align: center;
}
