#footer {
    display: none;
}

#footer + p {
    width: 100%;
    font-size: 11px;
}

.container {
    background: no-repeat url("photo.jpg");
    background-position-x: right;
    background-position-y: top;
    background-size: 16%;
}
